<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/create.css">


    <title>Document</title>
</head>
<body>
    <form action="/register" method="post" class="container"> 
    
        <div class="first-container">
            <h1>Sign Up</h1>
            <p>It's quick and easy</p>
            <hr>
        </div>

        <div class="second-container">
            <input type="text" class="second-container-firstname"  placeholder="First name" name="firstname" required>
            <input type="text" class="second-container-lastname"   placeholder="Last name" name="lastname" required>
        </div>

        <div class="third-container">
            <input type="email" class="third-container-email"   placeholder="Mobile number or Email" name="email" required>
        </div>

        <div class="forth-container">
            <input type="password" class="forth-container-password" placeholder="Password" name="password" required>
        </div>

        <div class="birthday-text">
            <h5>Birthday</h5>
        </div>

        <div class="birthday-section">

        <div>
            <select class="month">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
            
            </select>
        </div>

        <div>
            <select class="day">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
             
            </select>

            </div>


            <div>


            <select class="year">
  
               <option>2022</option>
               <option>2021</option>
               <option>2020</option>
               <option>2019</option>
               <option>2018</option>
               <option>2017</option>
               <option>2016</option>
               <option>2015</option>
               <option>2014</option>
               <option>2013</option>
               <option>2012</option>
               <option>2011</option>
               <option>2010</option>
               <option>2009</option>
               <option>2008</option>
               <option>2007</option>
               <option>2006</option>
               <option>2005</option>
               <option>2004</option>
               <option>2003</option>
               <option>2002</option>
               <option>2001</option>
               <option>2000</option>
               <option>1999</option>
               <option>1998</option>
               <option>1997</option>
               <option>1996</option>
               <option>1995</option>
               <option>1994</option>
               <option>1993</option>
               <option>1992</option>
               <option>1991</option>
               <option>1990</option>
        

            </select>





        </div>
    
    
    </div>

    <div class="gender">
        <h5>Gender</h5>
    </div>

    <div class="gender-section">

        <div class="female">
        <label >Female</label>
        <input type="radio" name="gender" value="Female">
        </div>
        
        <div class="male">
        <label >Male</label>
        <input type="radio" name="gender" value="male"> 
        </div>
        
        <div class="custom">
        <label>Custom</label>
       <input type="radio" name="gender" value="custom">
        </div> 


    </div>

    <div class="contact-information">
        <p>People who use our service may have uploaded your contact information to Facebook. <a href="Learn more.">Learn more.</a></p>
    </div>

    <div class="terms">
        <p>By clicking Sign Up, you agree to our<a href > Terms, Privacy Policy</a> and <a href >Cookies Policy</a>. You may receive SMS Notifications from us and can opt out any time.</p>
    </div>
    
    
    <div class="signup">
    <button type="submit" class="signup-btn">Sign up</button>
    </div>
  

     
    
    


    </form>
    
</body>
</html>