<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/forget.css">


    <title>Document</title>
</head>
<body>

    <form action="/forget" method="post">
       
        <div class="container">

            <div>
                <h1 class="facebook">facebook</h1>
            </div>

            <div>
                <input type="email" placeholder="Email or Phone number" class="email" required>
                <input type="password" placeholder="Password" class="password" required>
                
                <button class="login-btn" type="submit">Log in</button>

                <a href="#" class="forgot">Forgot Account?</a>

            </div>  


        </div>

        </form>

        <form action="/find" method="post" class="center-container-section">
        <div class="center-container">

            <h2>Find Your Account</h2>
            <hr>
            <p>Please enter your email or mobile number to search for your account.</p>

            <input class="center-container-email" type="email" placeholder="Email or Phone number" required >
            <hr>
            
            <div class="center-container-btn">
            <button type="submit" class="cancel-btn">Cancel</button>
            <button type="submit" class="search-btn">Search</button>
            </div>

            
        </div>
        </form>


        <div class="container-footer">
            <p>English (US)
                Filipino
                Bisaya
                Español
                日本語
                한국어
                中文(简体)
                العربية
                Português (Brasil)
                Français (France)
                Deutsch
                Sign UpLog InMessengerFacebook LiteWatchPlacesGamesMarketplaceFacebook PayOculusPortalInstagramBulletinLocalFundraisersServicesVoting Information CenterGroupsAboutCreate AdCreate PageDevelopersCareersPrivacyCookiesAd choicesTermsHelpContact Uploading & Non-UsersSettingsActivity log
                Meta © 2022</p>
        </div>



   
    
</body>
</html>