<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <div class="first-container">
            <h1>facebook</h1>
            <p>Connect with friends and the world around you on Facebook.</p>
        </div>

        <div class="second-container">

            <form action="/" method="post">
            <input type="email" placeholder="Email or username" class="email" name="email"required>
            <input type ="password" placeholder="Password" class="password" name="password"required>
            <button class="login-btn" a href="homepage.ejs">Log in</button>
            </form>

            
            <form action="/forget" method="post">
            <a href="forget" class="forgot-password">Forgot Password</a>
            </form>
            
            
            <form action="/create" method="post">
            <button class="create-btn">Create new account</button>
            </form>
      
            <!-- <form action="/createpage" method="post"> -->
            <p class=create-page><a href="createpage">Create a Page</a>  for a celebrity, brand or business.</p>
            <!-- </form> -->
        </div>


    </div>

    <footer class="footer">English (US)
        Filipino
        Bisaya
        Español
        日本語
        한국어
        中文(简体)
        العربية
        Português (Brasil)
        Français (France)
        Deutsch
        Sign UpLog InMessengerFacebook LiteWatchPlacesGamesMarketplaceFacebook PayOculusPortalInstagramBulletinLocalFundraisersServicesVoting Information CenterGroupsAboutCreate AdCreate PageDevelopersCareersPrivacyCookiesAd choicesTermsHelpContact Uploading & Non-UsersSettingsActivity log
        Meta © 2022</footer>

    
</body>
</html>