<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/homepage.css">

    <script src="https://kit.fontawesome.com/cdd47e78a6.js" crossorigin="anonymous"></script>


</head>
<body>
    <div class="top-container">

        <div class="top-container-first">
        
        <img src="/image/facebook-logo.png" alt="facebook logo" class="facebook-logo"height="50px">

        <input class="top-search-box" type="text">
        </div>

        <div class="top-container-second">
            <a href="#"><i class="fa-solid fa-house fa-lg"></i></a>
            <a href="#"><i class="fa-solid fa-circle-play fa-lg" ></i></a>
            <a href="#"><i class="fa-solid fa-store fa-lg"></i></a>
            <a href="#"><i class="fa-solid fa-user-group fa-lg"></i></a>
            <a href="#"><i class="fa-solid fa-dice-one fa-lg"></i></a>

        </div>

        <div class="top-container-third">
            <a href="#"><i class="fa-solid fa-bars fa-lg"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-messenger fa-lg"></i></a>
            <a href="#"><i class="fa-solid fa-bell fa-lg"></i></a>
            <a href="#"><i class="fa-solid fa-user fa-lg"></i></a>

        </div>


    </div>

<!-- mid container -->

   <div class="mid-container">
    

    <!--------------------------- mid-container first grid --------------------------------->

    <div class="mid-container-first">
         
        <div class="mid-container-first-first">
        <img src="/image/dp-1.jpg" class="dp-01" width="30px" height="30px">
        <h4>Sōsuke Aizen</h4>
        </div>

        
        <div class="mid-container-first-second">
            <a href="#"><i class="fa-solid fa-user-group fa-1x" ></a></i>
        <h4>Friends</h4>
        </div>

        <div class="mid-container-first-third">
        <a href="#"><i class="fa-solid fa-people-group fa-1x"></i></a>
        <h4>Menu</h4>
        </div>

        <div class="mid-container-first-forth">
        <a href="#"><i class="fa-solid fa-house fa-1x"></i></a>
        <h4>Marketplace</h4>
        </div>

        <div class="mid-container-first-fifth">
        <a href="#"><i class="fa-brands fa-youtube fa-1x"></i></a>
        <h4>Watch</h4>
        </div>

        <div class="mid-container-first-six">
        <a href="#"><i class="fa-solid fa-clock fa-1x"></i></a>
        <h4>Memories</h4>
        </div>

        
        <div class="mid-container-first-seven">
        
        <h4>See more</h4>
        </div>

      
        <hr>
        <br>

        <div class="shortcut-section">
            <h4>Your shortcut</h4>

            <h3>Edit</h3>
        </div>








    </div>

    <!-- end of first grid line -->


   <!-- ------------------second grid line---------------------- -->







    <div class="mid-container-second">


        <!-- ---------------------myday section------------------- -->

        <div class="mid-container-second-first">

            <img src="/image/myday-1.jpg" class="myday-1" height="200px" width="120px">
            <img src="/image/myday-2.jpg" class="myday-2" height="200px" width="120px">
            <img src="/image/myday-3.jpg" class="myday-3" height="200px" width="120px">
            <img src="/image/myday-4.jpg" class="myday-4" height="200px" width="120px">
            <img src="/image/myday-5.jpg" class="myday-5" height="200px" width="120px" >
         


        </div>
        <div class="myday-dp">
            <img src="/image/dp-1.jpg" class="dp-1" width="40px" height="40px">    
            <img src="/image/dp-2.jpg" class="dp-2" width="40px" height="40px">    
            <img src="/image/dp-3.jpg" class="dp-3" width="40px" height="40px">    
            <img src="/image/dp-4.jpg" class="dp-4" width="40px" height="40px">    
            <img src="/image/dp-5.jpg" class="dp-5" width="40px" height="40px">    
            

        </div>


        <!-- -----------end of myday section-------------------- -->


        <!-- --------------status section----------------------- -->

        <div class="status-container">
        <div class="status">

            <img src="/image/dp-7.jpg" class="status-dp-7" width="50px" height="40px">

            <input type="text" class="status-text" placeholder="What's on your mind?">
            
        </div>
        <br>
        <hr>

        <div class="status-iconandtext">
            <i class="fa-solid fa-video status-first-icon"></i>
            <h4>Live video</h4>
            
            <i class="fa-solid fa-image status-second-icon"></i>
            <h4>Photo/video</h4>

            <i class="fa-solid fa-face-smile status-third-icon"></i>
            <h4>Feeling/activity</h4>
        </div>



        </div>


        <!-- ------------------end of status section------------------ -->

        <!----------------- start of create rooom--------------------- -->


        <div class="create-room-section">
            
            <div class="create-room-text">
            <i class="fa-solid fa-video "></i>
            <h4>Create room</h4>
            </div>

            <div class="create-room-dp">
                <img src="/image/dp-8.jpg" class="dp-8" width="40px" height="40px"> 
                <img src="/image/dp-9.jpg" class="dp-9" width="40px" height="40px"> 
                <img src="/image/dp-10.jpg" class="dp-10" width="40px" height="40px"> 
                <img src="/image/dp-11.jpg" class="dp-11" width="40px" height="40px"> 
                <img src="/image/dp-12.jpg" class="dp-12" width="40px" height="40px"> 
                <img src="/image/dp-13.jpg" class="dp-13" width="40px" height="40px"> 


            </div>

            
        </div>

        <!-------------------------- end of create room------------------ -->





        <!---------------------------------------- start of post section - 01 --------------------------------------- -->

        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/dp-14.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/status-1.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -01      ------------------------------------------->





        <!------------------------------------------------- start of post section -02 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/dp-14.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/status-2.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -02     ------------------------------------------->



      




        <!------------------------------------------------- start of post section -03 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/dp-14.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/status-3.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -03     ------------------------------------------->



      




        <!------------------------------------------------- start of post section -04 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/dp-14.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/status-4.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -04     ------------------------------------------->



      



        <!------------------------------------------------- start of post section -05 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/post-1.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/post-1.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -05     ------------------------------------------->



      



        <!------------------------------------------------- start of post section -06 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/post-2.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/post-2.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -06    ------------------------------------------->



      



        <!------------------------------------------------- start of post section -07 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/post-3.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/post-3.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -07     ------------------------------------------->



      



        <!------------------------------------------------- start of post section -08 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/post-4.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/post-4.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -08     ------------------------------------------->



      



        <!------------------------------------------------- start of post section -09 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/post-5.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/post-5.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -09    ------------------------------------------->



      



        <!------------------------------------------------- start of post section -10 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/post-6.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/post-6.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -10     ------------------------------------------->



      





        <!------------------------------------------------- start of post section -11 --------------------------------------------- -->
        <div class="post-container">
            <div class="post-container-first">
                <img src="/image/post-7.jpg" class="dp-14" width="40px" height="40px">
                <h4>Steph Curry</h4>
                <i class="fa-solid fa-ellipsis"></i>

            </div>

            <p class="post-text">Coffee?</p>

            <img src="/image/post-7.jpg" width="500px" height="550px" class="status-1">
            
            <hr>
            <div class="post-reaction">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Like</h5>
                <i class="fa-solid fa-message"></i>
                <h5>Comment</h5>
                <i class="fa-brands fa-facebook-messenger"></i>
                <h5>Send</h5>

            </div>
            <hr>


            <div class="comment-section">

                <img src="/image/dp-15.jpg"  class="dp-15" width="40px" height="40px">

                <input type="text" placeholder="Write your comment here" class="comment-text">


            </div>

                <ul class="comment-emoji">
                <li><a href="3"><i class="fa-regular fa-face-laugh-squint"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-face-smile"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-camera"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-paperclip"></i></a></li>
                <li><a href="3"><i class="fa-solid fa-note-sticky"></i></a></li>
                </ul>

             
                <div class="first-comment-container">

                    <img src="/image/dp-16.jpg" class="dp-16" height="40px" width="40px">
                    
                    <div class="first-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>

                <div class="second-comment-container">

                    <img src="/image/dp-17.jpg" class="dp-17" height="40px" width="40px">
                    
                    <div class="second-person-comment">
                    <h5>Lebron James</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum repellat ipsa ad ea magnam
                         esse doloribus dolores cum id alias, quisquam doloremque perferendis.
                         Fuga illum modi quo corrupti nulla beatae?</p>
                    </div>

                </div>







            





        </div>
        <!-- ---------------------------------------end of post section -11     ------------------------------------------->



      







    </div>

    <!-- -----------------------------end of second grid line ------------------------------>







<!-- --------------------------- start of middle third grid line---------------------------------- -->



    
    <div class="mid-container-third">

        <!-- -------------------------sponsor section--------------------- -->



        <h4>Sponsored</h4>

        <div class="sponsor-container">

            <img src="/image/sponsor-1.jpg" class="sponsor-1" width="120px" height="130px">
            
            <div class="burger-section">
            <h5>Burger King</h5>
            <p>Burger ka sa akin!!!</p>
            <a href="#">Burger.com</a>
            </div>
        </div>

        <div class="sponsor-container">

            <img src="/image/sponsor-3.jpg" class="sponsor-2" width="120px" height="130px">
            
            <div class="burger-section">
            <h5>TravellUs</h5>
            <p>Travel with us</p>
            <a href="#">Travel.com</a>
            </div>
        </div>


        <!-- ------------------end of sponsor section---------------- -->
    
    <br><br>
    <hr/>


    <!-- ----------------start of contact section------------------ -->

    <div class="contact-container">

        <h3>Contacts</h3>

        <ul class="contact-icon">
            <li><a href="#"><i class="fa-solid fa-video fa-1x"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-magnifying-glass fa-1x"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-ellipsis  fa-1x"></i></a></li>
        </ul>

    </div>

<!----------------------------list of friends 1----------------- -->



    <div class="contact-friends">

        <img src="/image/dp-15.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 1----------------- -->



    <div class="contact-friends">

        <img src="/image/dp-16.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 2----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-17.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 3----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-18.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 4----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-19.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 5----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-20.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 6----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-21.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 7----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-22.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 8----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-23.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 9----------------- -->


    <div class="contact-friends">

        <img src="/image/dp-24.jpg" class="dp-15" height="40px" width="40px">

        <h5>Sōsuke Aizen</h5>

    </div>

    <!-- ------------------------------------ end of friend 10----------------- -->
























    </div>

    <!-- ----------------------------end of middle third grid line------------------------- -->



   










    
    <script src="https://kit.fontawesome.com/cdd47e78a6.js" crossorigin="anonymous"></script>   
</body>
</html>